<script src="js/search.js" type="module" defer></script>
<h2>Police Officers</h2>

<input type="text" id="searchInput" placeholder="Search by name or ID..."
    style="margin-bottom: 20px; width: 300px; padding: 10px;">
<table id="myTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Precinct</th>
            <th>Badge</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each officers}}
        <tr>
            <td>{{this.Officer_ID}}</td>
            <td>{{this.First}} {{this.Last}}</td>
            <td>{{this.Precinct}}</td>
            <td>{{this.Badge}}</td>
            <td>{{this.Phone}}</td>
            <td>{{this.Status}}</td>
            <td><a href="/officer/{{this.Officer_ID}}">View Details</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<a href="/officer/new">
    <button class="floating-button">New Entry</button>
</a>