<link rel="stylesheet" href="/css/page.css" style='text-decoration:none;'>

<div class="header-container">
    <h2>Crime Details</h2>
    <div class="button-container">
        <a href="/crime/all" class="normal-button">Back to All Crimes</a>
    </div>
</div>


<table>
    <tr>
        <th>Crime ID</th>
        <td>{{crime.Crime_ID}}</td>
    </tr>
    <tr>
        <th>Criminal ID</th>
        <td>{{crime.Criminal_ID}}</td>
    </tr>
    <tr>
        <th>Classification</th>
        <td>{{crime.Classification}}</td>
    </tr>
    <tr>
        <th>Date Charged</th>
        <td>{{crime.Date_charged}}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{crime.Status}}</td>
    </tr>
    <tr>
        <th>Hearing Date</th>
        <td>{{crime.Hearing_date}}</td>
    </tr>
    <tr>
        <th>Appeal Cut Date</th>
        <td>{{crime.Appeal_cut_date}}</td>
    </tr>
</table>


<h3>Appeals</h3>
<table>
    <thead>
        <tr>
            <th>Appeal ID</th>
            <th>Filing Date</th>
            <th>Hearing Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each formattedAppeals}}
        <tr>
            <td>{{this.Appeal_ID}}</td>
            <td>{{this.Filling_date}}</td>
            <td>{{this.Hearing_date}}</td>
            <td>{{this.Status}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="button-container">
    <a href="/crime/addAppeal/{{crime.Crime_ID}}" class="normal-button">Add Appeal</a>
</div>

<h3>Charges</h3>
<table>
    <thead>
        <tr>
            <th>Crime Code</th>
            <th>Status</th>
            <th>Fine Amount</th>
            <th>Court Fee</th>
            <th>Amount Paid</th>
            <th>Payment Due Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each formattedCharges}}
        <tr>
            <td>{{this.Crime_code}}</td>
            <td>{{this.Charge_status}}</td>
            <td>{{this.Fine_amount}}</td>
            <td>{{this.Court_fee}}</td>
            <td>{{this.Amount_paid}}</td>
            <td>{{this.Pay_due_date}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="button-container">
    <a href="/crime/addCharge/{{crime.Crime_ID}}" class="normal-button">Add Charge</a>
</div>

<h3>Associated Officers</h3>
<table>
    <thead>
        <tr>
            <th>Officer ID</th>
            <th>Name</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {{#each officers}}
        <tr>
            <td>{{this.Officer_ID}}</td>
            <td>{{this.First}} {{this.Last}}</td>
            <td><a href="/officer/details/{{this.Officer_ID}}">View Details</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="button-container">
    <a href="/crime-officer-union?source=crime&id={{crime.Crime_ID}}" class="normal-button">Manage Officer Links</a>
</div>