
<h3>Displaying Details of Registered Criminals</h3>
<input type="text" id="searchInput" onkeyup="searchCriminal()" placeholder="Search by Criminal ID..." style="margin-bottom: 20px; width: 300px; padding: 10px;">
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City, State</th>
            <th>Phone</th>
            <th>Violent</th>
            <th>Probation</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each criminals}}
        <tr>
            <td>{{this.Criminal_ID}}</td>
            <td>{{this.First}} {{this.Last}}</td>
            <td>{{this.City}}, {{this.State}}</td>
            <td>{{this.Phone}}</td>
            <td>{{this.Violent}}</td>
            <td>{{this.Probation}}</td>
            <td><a href="/criminal/details/{{this.Criminal_ID}}">View Details</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script>
    function searchCriminal() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }               
        }
    }
</script>
