<script src="js/search.js" type="module" defer></script>
<h2>Registered Criminals</h2>

<input type="text" id="searchInput" placeholder="Search by name or ID..."
    style="margin-bottom: 20px; width: 300px; padding: 10px;">
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City, State</th>
            <th>Phone</th>
            <th>Violent</th>
            <th>Probation</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each criminals}}
        <tr>
            <td>{{this.Criminal_ID}}</td>
            <td>{{this.First}} {{this.Last}}</td>
            <td>{{this.City}}, {{this.State}}</td>
            <td>{{this.Phone}}</td>
            <td>{{this.Violent}}</td>
            <td>{{this.Probation}}</td>
            <td><a href="/criminal/{{this.Criminal_ID}}">View Details</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<a href="/criminal/new">
    <button class="floating-button">New Entry</button>
</a>